* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

div {
	width: 100%;
	height: 200px;
	margin-top: 30px;
}

.bg-gadient-linear {
	/* background: linear-gradient(pink, black); */

	/* 15deg significa que el gradiente se desplaza en un ángulo de 15 grados desde la horizontal. */

	/* Visualmente, esto significa que el gradiente comenzará desde un punto ligeramente hacia la derecha del borde inferior y se desplazará en una dirección de 15 grados hacia la izquierda del borde superior. */

	/* El color azul (#00c9ff) comienza en un punto cercano al borde inferior y algo hacia la derecha. */

	/* El color verde (#92fe2d) termina en un punto cercano al borde superior y algo hacia la izquierda. */

	/* background: linear-gradient(15deg, #00c9ff, #92fe2D); */

	background: linear-gradient(
			217deg,
			rgba(255, 0, 0, 0.8),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(0, 0, 255), rgba(0, 0, 255, 0) 70.71%);
}

.bg-gradient-to-left {
	background: linear-gradient(to left, blue, red);
}

.bg-gradient-to-right {
	background: linear-gradient(to right, yellow, green);
}

.bg-gradient-linear-to-bottom {
	background: linear-gradient(to bottom, orange, purple);
}

.bg-gradient-linear-to-top {
	background: linear-gradient(to top, brown, gray);
}

.bg-radient-radial-circle {
	background: radial-gradient(circle at top, red, yellow);
}

.bg-radient-radial-elipse {
	/* background: radial-gradient(ellipse 250px 100px, #4f4f4f, #92fe2d); */

	background: radial-gradient(ellipse at top, #e66465, transparent),
		radial-gradient(ellipse at bottom, #4d9f0c, transparent);
}


button{
  all:unset;
  padding: 10px 20px;
  border: 1px solid #92fe2d;
  border-radius: 8px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  background: linear-gradient(to right, #00c9ff, #92fe2d);
  transition: all 0.3 ease-out;
}

button:hover {
  transform: scale(1.2);
}